
:root{
  --bg-color : #131722 ;
  --font-color:#fff;
  --light-bg :#24baef;
}
body{
  background-color: var(--bg-color);
  color: var(--font-color);
}
a{
  text-decoration: none;
  color: var(--font-color);
}
.my-input{
  background-color: transparent;
  border: solid 1px #a8a8a83d;
  color: #fff;
}
.cursor-pointer{
  cursor: pointer;
}
.brd{
  height: 1px ;
  background-color:  #a8a8a83d;

}
.vout{
  background-color: var(--light-bg);
}
.colorMuted{
  color: #a5a0a0;
}
.offline{
  background-color: var(--bg-color);
  box-shadow: 10px 10px 10px #ccc;
  padding: 20px;
  position: fixed;
  left: 60px;
  bottom: 60px;
  z-index: 999999;
}
